/* DEFAULT HEADER STYLES */
header {
  background: url("../../img/web-image.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 300px;
}

header .web-header h1 {
  color: #284f58;
  font-size: 2.5em;
  position: absolute;
  top: 23%;
  padding-left: 10px;
  text-shadow: 1px 1px 3px #ffffff;
}

header .web-header h3 {
  font-size: 1.5em;
  position: absolute;
  top: 33%;
  padding: 10px;
  text-shadow: 1px 1px 3px #ffffff;
  text-align: center;
}

#web-portfolio {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
  header {
    height: 300px;
  }

  header .web-header h1 {
    font-size: 3em;
    position: absolute;
    top: 15%;
    left: 10%;
  }
  
  header .web-header h3 {
    font-size: 1.5em;
    position: absolute;
    top: 25%;
    right: 3%;
    width: 65%;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
  /* HEADER STYLES */
  header {
    height: 400px;
  }

  header .web-header h1 {
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  
  header .web-header h3 {
    font-size: 2em;
    position: absolute;
    top: 35%;
    right: 3%;
    width: 65%;
  }

}